*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar ul{
  display: flex;
  width: 100%;
  align-items: center;
  background: #000;
  color: white;
}

.navbar ul li{
  list-style: none;
  padding: 1rem;
}

.navbar a{
  text-decoration: none;
  color: #fff;
}

.navbar-logo{
  flex: 1;
  font-size: 1rem;
  user-select: none;
}

.navbar-toggle{
  display: none;
}

.navbar-links:hover{
  background-color: cyan;
}

.navbar-links:hover a{
  color: #000;
}

@media (max-width: 600px) {
  .navbar ul{
    flex-wrap: wrap;
  }

  .navbar-toggle{
    display: block;
  }

  .navbar-links{
    display: none;
    width: 100%;
    text-align: center;
  }

  .active{
    display: block;
  }
}